<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fundamentals</title>
    <link rel="stylesheet" href="../styles/fundamentals.css" />
    <link rel="stylesheet" href="../reset.css" />
    <script src="/scripts/fundamentals.js"></script>
  </head>
  <body>
    <div class="fundamentals">
      <div class="fundamentals-home">
        <div class="fundamentals-nav">
          <a href="">Interview Prep</a>
          <a href="">By Skill</a>
          <a href="">By Language</a>
        </div>
        <div class="fundamentals-content">
          <div class="fundamentals-content-left">
            <div class="fundamentals-content-left-title">Fundamentals</div>
            <div class="fundamentals-content-left-pron">(/fʌnˈdæməntəlz/)</div>
            <div class="fundamentals-content-left-desc">
              A play on word, derived from the greek word εξελίσσομαι = to
              evolve (ekse'lisome), with a twist.
            </div>
          </div>
          <div class="fundamentals-content-right">
            <div class="fundamentals-content-right-para1">
              “There are 2 types of software engineer: those who understand
              computer science well enough to do challenging, innovative work,
              and those who just get by because they’re familiar with a few high
              level tools.
            </div>
            <div class="fundamentals-content-right-para1">
              Both call themselves software engineers, and both tend to earn
              similar salaries in their early careers. But Type 1 engineers
              progress toward more fulfilling and well-remunerated work over
              time, whether that’s valuable commercial work or breakthrough
              open-source projects, technical leadership or high-quality
              individual contributions.
            </div>
            <div class="fundamentals-content-right-para1">
              Type 1 engineers find ways to learn computer science in depth,
              whether through conventional means or by relentlessly learning
              throughout their careers. Type 2 engineers typically stay at the
              surface, learning specific tools and technologies rather than
              their underlying foundations, only picking up new skills when the
              winds of technical fashion change.
            </div>
            <div class="fundamentals-content-right-para1">
              Currently, the number of people entering the industry is rapidly
              increasing, while the number of CS grads is relatively static.
              This oversupply of Type 2 engineers is starting to reduce their
              employment opportunities and keep them out of the industry’s more
              fulfilling work. Whether you’re striving to become a Type 1
              engineer or simply looking for more job security, learning
              computer science is the only reliable path.”
            </div>
            <div class="fundamentals-content-right-reference">
              <a href="">[Teachyourselfcs.com]</a>
            </div>
          </div>
        </div>
      </div>
      <div class="fundamentals-desc">
        <div class="fundamentals-desc-para1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
          mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
          mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
          tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
          suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at
          maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
          sodales.
        </div>
        <div class="fundamentals-desc-para1">
          Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
          In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
          hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
          consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
          quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
          interdum eu. Curabitur pellentesque nibh nibh, at maximus ante
          fermentum sit amet.
        </div>
        <div class="fundamentals-desc-para1"></div>
        Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut
        diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget
        tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque
        sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
        Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum
        auctor ornare leo, non suscipit magna interdum eu. Curabitur
        pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
        commodo lacus at
        <div class="fundamentals-desc-para1">
          sodales sodales. Quisque sagittis orci ut diam condimentum, vel
          euismod erat placerat. In iaculis arcu eros, eget tempus orci
          facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
          sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
          vitae mattis tellus. Nullam quis
        </div>
      </div>


<!--programming-->

<div class="programming-window">

  <section class="programming-window-top">


    <div class="container">
<img src="../assests/Ellipse 1.png"> 

<div class="text-overlay">
<div class="programming-window-top-title">
PROGRAMMING
</div>

<div class="programming-window-top-subtitle">
(/prəʊˈɡræmɪŋ/)
</div>
</div>

    </div>

</section>

<section class="programming-window-bottom">

<div class="programming-window-bottom-summary">
  Most undergraduate CS programs start with an “introduction” to computer
  programming. The best versions of these courses cater not just to novices,
  but also to those who missed beneficial concepts and programming models
  while first learning to code.  
</div>

<div class="programming-window-bottom-resources">

  <div class="programming-window-bottom-resources-one">

    <h3>Recommended Books </h3>

    <div class="book-container">
<div class="book-title">
    <p>Computer Systems: A Programmer's Perspective</p> 
</div>

<div class="book-author">
    <p>E. Bryant and David R. O'Hallaron</p>
</div>

<div class="book-link">
   <a href="">Link</a>
</div>
    </div>

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>

          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>

                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>

  </div>

  <div class="programming-window-bottom-resources-two">
    <h3>Recommended Books</h3> 

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>
      
          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>
      
                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
      
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>
                                  <div class="book-container">
                                    <div class="book-title">
                                        <p>Computer Systems: A Programmer's Perspective</p> 
                                    </div>
                                    
                                    <div class="book-author">
                                        <p>E. Bryant and David R. O'Hallaron</p>
                                    </div>
                                    
                                    <div class="book-link">
                                       <a href="">Link</a>
                                    </div>
                                        </div>
      
      </div>

      <div class="programming-window-bottom-resources-three">
        <h3>Recommended Books</h3>

        <div class="book-container">
          <div class="book-title">
              <p>Computer Systems: A Programmer's Perspective</p> 
          </div>
          
          <div class="book-author">
              <p>E. Bryant and David R. O'Hallaron</p>
          </div>
          
          <div class="book-link">
             <a href="">Link</a>
          </div>
              </div>
          
              <div class="book-container">
                <div class="book-title">
                    <p>Computer Systems: A Programmer's Perspective</p> 
                </div>
                
                <div class="book-author">
                    <p>E. Bryant and David R. O'Hallaron</p>
                </div>
                
                <div class="book-link">
                   <a href="">Link</a>
                </div>
                    </div>
          
                    <div class="book-container">
                      <div class="book-title">
                          <p>Computer Systems: A Programmer's Perspective</p> 
                      </div>
                      
                      <div class="book-author">
                          <p>E. Bryant and David R. O'Hallaron</p>
                      </div>
                      
                      <div class="book-link">
                         <a href="">Link</a>
                      </div>
                          </div>
          
                          <div class="book-container">
                            <div class="book-title">
                                <p>Computer Systems: A Programmer's Perspective</p> 
                            </div>
                            
                            <div class="book-author">
                                <p>E. Bryant and David R. O'Hallaron</p>
                            </div>
                            
                            <div class="book-link">
                               <a href="">Link</a>
                            </div>
                                </div>
                                <div class="book-container">
                                  <div class="book-title">
                                      <p>Computer Systems: A Programmer's Perspective</p> 
                                  </div>
                                  
                                  <div class="book-author">
                                      <p>E. Bryant and David R. O'Hallaron</p>
                                  </div>
                                  
                                  <div class="book-link">
                                     <a href="">Link</a>
                                  </div>
                                      </div>
                                      <div class="book-container">
                                        <div class="book-title">
                                            <p>Computer Systems: A Programmer's Perspective</p> 
                                        </div>
                                        
                                        <div class="book-author">
                                            <p>E. Bryant and David R. O'Hallaron</p>
                                        </div>
                                        
                                        <div class="book-link">
                                           <a href="">Link</a>
                                        </div>
                                            </div>
          
          </div>

</div>

</section>

</div>

<!--Programming-->




<!--computer architecture-->
<div class="comp-arch-window">

  <section class="comp-arch-window-top">


    <div class="container">
<img src="../assests/Ellipse 1.png"> 

<div class="text-overlay">
<div class="comp-arch-window-top-title">
COMPUTER ARCHITECTURE
</div>

<div class="comp-arch-window-top-subtitle">
(/kəmˈpjuːtər ˈɑːrkɪˌtektʃər/)
</div>
</div>

    </div>

</section>

<section class="comp-arch-window-bottom">

<div class="comp-arch-window-bottom-summary">
  "Computer architecture is the intricate blueprint of a digital machine's inner
workings, defining its structure and organization. It outlines the design
principles, components, and connections that enable computers to process
information, execute instructions, and deliver the computational power that
fuels the digital age."
</div>

<div class="comp-arch-window-bottom-resources">

  <div class="comp-arch-window-bottom-resources-one">

    <h3>Recommended Books </h3>

    <div class="book-container">
<div class="book-title">
    <p>Computer Systems: A Programmer's Perspective</p> 
</div>

<div class="book-author">
    <p>E. Bryant and David R. O'Hallaron</p>
</div>

<div class="book-link">
   <a href="">Link</a>
</div>
    </div>

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>

          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>

                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>

  </div>

  <div class="comp-arch-window-bottom-resources-two">
    <h3>Recommended Books</h3> 

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>
      
          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>
      
                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
      
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>
                                  <div class="book-container">
                                    <div class="book-title">
                                        <p>Computer Systems: A Programmer's Perspective</p> 
                                    </div>
                                    
                                    <div class="book-author">
                                        <p>E. Bryant and David R. O'Hallaron</p>
                                    </div>
                                    
                                    <div class="book-link">
                                       <a href="">Link</a>
                                    </div>
                                        </div>
      
      </div>

      <div class="comp-arch-window-bottom-resources-three">
        <h3>Recommended Books</h3>

        <div class="book-container">
          <div class="book-title">
              <p>Computer Systems: A Programmer's Perspective</p> 
          </div>
          
          <div class="book-author">
              <p>E. Bryant and David R. O'Hallaron</p>
          </div>
          
          <div class="book-link">
             <a href="">Link</a>
          </div>
              </div>
          
              <div class="book-container">
                <div class="book-title">
                    <p>Computer Systems: A Programmer's Perspective</p> 
                </div>
                
                <div class="book-author">
                    <p>E. Bryant and David R. O'Hallaron</p>
                </div>
                
                <div class="book-link">
                   <a href="">Link</a>
                </div>
                    </div>
          
                    <div class="book-container">
                      <div class="book-title">
                          <p>Computer Systems: A Programmer's Perspective</p> 
                      </div>
                      
                      <div class="book-author">
                          <p>E. Bryant and David R. O'Hallaron</p>
                      </div>
                      
                      <div class="book-link">
                         <a href="">Link</a>
                      </div>
                          </div>
          
                          <div class="book-container">
                            <div class="book-title">
                                <p>Computer Systems: A Programmer's Perspective</p> 
                            </div>
                            
                            <div class="book-author">
                                <p>E. Bryant and David R. O'Hallaron</p>
                            </div>
                            
                            <div class="book-link">
                               <a href="">Link</a>
                            </div>
                                </div>
                                <div class="book-container">
                                  <div class="book-title">
                                      <p>Computer Systems: A Programmer's Perspective</p> 
                                  </div>
                                  
                                  <div class="book-author">
                                      <p>E. Bryant and David R. O'Hallaron</p>
                                  </div>
                                  
                                  <div class="book-link">
                                     <a href="">Link</a>
                                  </div>
                                      </div>
                                      <div class="book-container">
                                        <div class="book-title">
                                            <p>Computer Systems: A Programmer's Perspective</p> 
                                        </div>
                                        
                                        <div class="book-author">
                                            <p>E. Bryant and David R. O'Hallaron</p>
                                        </div>
                                        
                                        <div class="book-link">
                                           <a href="">Link</a>
                                        </div>
                                            </div>
          
          </div>

</div>

</section>

</div>

</div>
<!--computer architecture-->




<!--algorithms-->
<div class="dsa-window">
 

  <section class="dsa-window-top">


    <div class="container">
<img src="../assests/Ellipse 1.png"> 

<div class="text-overlay">
<div class="dsa-window-top-title">
DATA STRUCTURE AND ALGORITHMS
</div>

<div class="dsa-window-top-subtitle">
(/dˈeɪtə ˈstrʌkʧərz ənd ˈælɡərɪðmz/)
</div>
</div>

    </div>

</section>

<section class="dsa-window-bottom">

<div class="dsa-window-bottom-summary">
  Data structures and algorithms are the architects and blueprints of the digital
  universe, sculpting the foundations on which powerful software solutions are
  crafted and unleashed to conquer complex computational challenges.
    
</div>

<div class="dsa-window-bottom-resources">

  <div class="dsa-window-bottom-resources-one">

    <h3>Recommended Books </h3>

    <div class="book-container">
<div class="book-title">
    <p>Computer Systems: A Programmer's Perspective</p> 
</div>

<div class="book-author">
    <p>E. Bryant and David R. O'Hallaron</p>
</div>

<div class="book-link">
   <a href="">Link</a>
</div>
    </div>

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>

          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>

                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>

  </div>

  <div class="dsa-window-bottom-resources-two">
    <h3>Recommended Books</h3> 

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>
      
          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>
      
                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
      
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>
                                  <div class="book-container">
                                    <div class="book-title">
                                        <p>Computer Systems: A Programmer's Perspective</p> 
                                    </div>
                                    
                                    <div class="book-author">
                                        <p>E. Bryant and David R. O'Hallaron</p>
                                    </div>
                                    
                                    <div class="book-link">
                                       <a href="">Link</a>
                                    </div>
                                        </div>
      
      </div>

      <div class="dsa-window-bottom-resources-three">
        <h3>Recommended Books</h3>

        <div class="book-container">
          <div class="book-title">
              <p>Computer Systems: A Programmer's Perspective</p> 
          </div>
          
          <div class="book-author">
              <p>E. Bryant and David R. O'Hallaron</p>
          </div>
          
          <div class="book-link">
             <a href="">Link</a>
          </div>
              </div>
          
              <div class="book-container">
                <div class="book-title">
                    <p>Computer Systems: A Programmer's Perspective</p> 
                </div>
                
                <div class="book-author">
                    <p>E. Bryant and David R. O'Hallaron</p>
                </div>
                
                <div class="book-link">
                   <a href="">Link</a>
                </div>
                    </div>
          
                    <div class="book-container">
                      <div class="book-title">
                          <p>Computer Systems: A Programmer's Perspective</p> 
                      </div>
                      
                      <div class="book-author">
                          <p>E. Bryant and David R. O'Hallaron</p>
                      </div>
                      
                      <div class="book-link">
                         <a href="">Link</a>
                      </div>
                          </div>
          
                          <div class="book-container">
                            <div class="book-title">
                                <p>Computer Systems: A Programmer's Perspective</p> 
                            </div>
                            
                            <div class="book-author">
                                <p>E. Bryant and David R. O'Hallaron</p>
                            </div>
                            
                            <div class="book-link">
                               <a href="">Link</a>
                            </div>
                                </div>
                                <div class="book-container">
                                  <div class="book-title">
                                      <p>Computer Systems: A Programmer's Perspective</p> 
                                  </div>
                                  
                                  <div class="book-author">
                                      <p>E. Bryant and David R. O'Hallaron</p>
                                  </div>
                                  
                                  <div class="book-link">
                                     <a href="">Link</a>
                                  </div>
                                      </div>
                                      <div class="book-container">
                                        <div class="book-title">
                                            <p>Computer Systems: A Programmer's Perspective</p> 
                                        </div>
                                        
                                        <div class="book-author">
                                            <p>E. Bryant and David R. O'Hallaron</p>
                                        </div>
                                        
                                        <div class="book-link">
                                           <a href="">Link</a>
                                        </div>
                                            </div>
          
          </div>

</div>

</section>

</div>




</div>


<!--algorithms-->








<!--math-->
<div class="math-window">

  <section class="math-window-top">


    <div class="container">
<img src="../assests/Ellipse 1.png"> 

<div class="text-overlay">
<div class="math-window-top-title">
MATH FOR CS
</div>

<div class="math-window-top-subtitle">
(/mæθəˈmætɪks ɪn kəmˈpjuːtər ˈsaɪəns/)
</div>
</div>

    </div>

</section>

<section class="math-window-bottom">

<div class="math-window-bottom-summary">
  Mathematics in computer science is the elegant language of logic and
abstraction, providing the essential tools and principles for modeling, solving,
and optimizing complex problems within the realm of computation. It serves as
the master key to unlock the mysteries of algorithms, data structures,
cryptography, artificial intelligence, and countless other facets of the digital
world.
  
</div>

<div class="math-window-bottom-resources">

  <div class="math-window-bottom-resources-one">

    <h3>Recommended Books </h3>

    <div class="book-container">
<div class="book-title">
    <p>Computer Systems: A Programmer's Perspective</p> 
</div>

<div class="book-author">
    <p>E. Bryant and David R. O'Hallaron</p>
</div>

<div class="book-link">
   <a href="">Link</a>
</div>
    </div>

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>

          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>

                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>

  </div>

  <div class="math-window-bottom-resources-two">
    <h3>Recommended Books</h3> 

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>
      
          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>
      
                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
      
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>
                                  <div class="book-container">
                                    <div class="book-title">
                                        <p>Computer Systems: A Programmer's Perspective</p> 
                                    </div>
                                    
                                    <div class="book-author">
                                        <p>E. Bryant and David R. O'Hallaron</p>
                                    </div>
                                    
                                    <div class="book-link">
                                       <a href="">Link</a>
                                    </div>
                                        </div>
      
      </div>

      <div class="math-window-bottom-resources-three">
        <h3>Recommended Books</h3>

        <div class="book-container">
          <div class="book-title">
              <p>Computer Systems: A Programmer's Perspective</p> 
          </div>
          
          <div class="book-author">
              <p>E. Bryant and David R. O'Hallaron</p>
          </div>
          
          <div class="book-link">
             <a href="">Link</a>
          </div>
              </div>
          
              <div class="book-container">
                <div class="book-title">
                    <p>Computer Systems: A Programmer's Perspective</p> 
                </div>
                
                <div class="book-author">
                    <p>E. Bryant and David R. O'Hallaron</p>
                </div>
                
                <div class="book-link">
                   <a href="">Link</a>
                </div>
                    </div>
          
                    <div class="book-container">
                      <div class="book-title">
                          <p>Computer Systems: A Programmer's Perspective</p> 
                      </div>
                      
                      <div class="book-author">
                          <p>E. Bryant and David R. O'Hallaron</p>
                      </div>
                      
                      <div class="book-link">
                         <a href="">Link</a>
                      </div>
                          </div>
          
                          <div class="book-container">
                            <div class="book-title">
                                <p>Computer Systems: A Programmer's Perspective</p> 
                            </div>
                            
                            <div class="book-author">
                                <p>E. Bryant and David R. O'Hallaron</p>
                            </div>
                            
                            <div class="book-link">
                               <a href="">Link</a>
                            </div>
                                </div>
                                <div class="book-container">
                                  <div class="book-title">
                                      <p>Computer Systems: A Programmer's Perspective</p> 
                                  </div>
                                  
                                  <div class="book-author">
                                      <p>E. Bryant and David R. O'Hallaron</p>
                                  </div>
                                  
                                  <div class="book-link">
                                     <a href="">Link</a>
                                  </div>
                                      </div>
                                      <div class="book-container">
                                        <div class="book-title">
                                            <p>Computer Systems: A Programmer's Perspective</p> 
                                        </div>
                                        
                                        <div class="book-author">
                                            <p>E. Bryant and David R. O'Hallaron</p>
                                        </div>
                                        
                                        <div class="book-link">
                                           <a href="">Link</a>
                                        </div>
                                            </div>
          
          </div>

</div>

</section>

</div>



</div>


<!--math-->





<!--os-->
<div class="os-window">

  <section class="os-window-top">


    <div class="container">
<img src="../assests/Ellipse 1.png"> 

<div class="text-overlay">
<div class="os-window-top-title">
OPERATING SYSTEMS
</div>

<div class="os-window-top-subtitle">
(/ˈɒpəˌreɪtɪŋ ˈsɪstəmz/)
</div>
</div>

    </div>

</section>

<section class="os-window-bottom">

<div class="os-window-bottom-summary">
  Operating systems, often referred to as the digital conductors of computing
orchestras, are complex software platforms that manage and coordinate the
resources of a computer or device. They serve as the bridge between users
and hardware, ensuring seamless interaction, resource allocation, and task
management, while providing a stable environment for software to run
efficiently.  
</div>

<div class="os-window-bottom-resources">

  <div class="os-window-bottom-resources-one">

    <h3>Recommended Books </h3>

    <div class="book-container">
<div class="book-title">
    <p>Computer Systems: A Programmer's Perspective</p> 
</div>

<div class="book-author">
    <p>E. Bryant and David R. O'Hallaron</p>
</div>

<div class="book-link">
   <a href="">Link</a>
</div>
    </div>

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>

          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>

                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>

  </div>

  <div class="os-window-bottom-resources-two">
    <h3>Recommended Books</h3> 

    <div class="book-container">
      <div class="book-title">
          <p>Computer Systems: A Programmer's Perspective</p> 
      </div>
      
      <div class="book-author">
          <p>E. Bryant and David R. O'Hallaron</p>
      </div>
      
      <div class="book-link">
         <a href="">Link</a>
      </div>
          </div>
      
          <div class="book-container">
            <div class="book-title">
                <p>Computer Systems: A Programmer's Perspective</p> 
            </div>
            
            <div class="book-author">
                <p>E. Bryant and David R. O'Hallaron</p>
            </div>
            
            <div class="book-link">
               <a href="">Link</a>
            </div>
                </div>
      
                <div class="book-container">
                  <div class="book-title">
                      <p>Computer Systems: A Programmer's Perspective</p> 
                  </div>
                  
                  <div class="book-author">
                      <p>E. Bryant and David R. O'Hallaron</p>
                  </div>
                  
                  <div class="book-link">
                     <a href="">Link</a>
                  </div>
                      </div>
      
                      <div class="book-container">
                        <div class="book-title">
                            <p>Computer Systems: A Programmer's Perspective</p> 
                        </div>
                        
                        <div class="book-author">
                            <p>E. Bryant and David R. O'Hallaron</p>
                        </div>
                        
                        <div class="book-link">
                           <a href="">Link</a>
                        </div>
                            </div>
                            <div class="book-container">
                              <div class="book-title">
                                  <p>Computer Systems: A Programmer's Perspective</p> 
                              </div>
                              
                              <div class="book-author">
                                  <p>E. Bryant and David R. O'Hallaron</p>
                              </div>
                              
                              <div class="book-link">
                                 <a href="">Link</a>
                              </div>
                                  </div>
                                  <div class="book-container">
                                    <div class="book-title">
                                        <p>Computer Systems: A Programmer's Perspective</p> 
                                    </div>
                                    
                                    <div class="book-author">
                                        <p>E. Bryant and David R. O'Hallaron</p>
                                    </div>
                                    
                                    <div class="book-link">
                                       <a href="">Link</a>
                                    </div>
                                        </div>
      
      </div>

      <div class="os-window-bottom-resources-three">
        <h3>Recommended Books</h3>

        <div class="book-container">
          <div class="book-title">
              <p>Computer Systems: A Programmer's Perspective</p> 
          </div>
          
          <div class="book-author">
              <p>E. Bryant and David R. O'Hallaron</p>
          </div>
          
          <div class="book-link">
             <a href="">Link</a>
          </div>
              </div>
          
              <div class="book-container">
                <div class="book-title">
                    <p>Computer Systems: A Programmer's Perspective</p> 
                </div>
                
                <div class="book-author">
                    <p>E. Bryant and David R. O'Hallaron</p>
                </div>
                
                <div class="book-link">
                   <a href="">Link</a>
                </div>
                    </div>
          
                    <div class="book-container">
                      <div class="book-title">
                          <p>Computer Systems: A Programmer's Perspective</p> 
                      </div>
                      
                      <div class="book-author">
                          <p>E. Bryant and David R. O'Hallaron</p>
                      </div>
                      
                      <div class="book-link">
                         <a href="">Link</a>
                      </div>
                          </div>
          
                          <div class="book-container">
                            <div class="book-title">
                                <p>Computer Systems: A Programmer's Perspective</p> 
                            </div>
                            
                            <div class="book-author">
                                <p>E. Bryant and David R. O'Hallaron</p>
                            </div>
                            
                            <div class="book-link">
                               <a href="">Link</a>
                            </div>
                                </div>
                                <div class="book-container">
                                  <div class="book-title">
                                      <p>Computer Systems: A Programmer's Perspective</p> 
                                  </div>
                                  
                                  <div class="book-author">
                                      <p>E. Bryant and David R. O'Hallaron</p>
                                  </div>
                                  
                                  <div class="book-link">
                                     <a href="">Link</a>
                                  </div>
                                      </div>
                                      <div class="book-container">
                                        <div class="book-title">
                                            <p>Computer Systems: A Programmer's Perspective</p> 
                                        </div>
                                        
                                        <div class="book-author">
                                            <p>E. Bryant and David R. O'Hallaron</p>
                                        </div>
                                        
                                        <div class="book-link">
                                           <a href="">Link</a>
                                        </div>
                                            </div>
          
          </div>

</div>

</section>

</div>


  
</div>
<!--os-->










    </div>
  </body>
</html>
