<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fundamentals</title>
    <link rel="stylesheet" href="../styles/fundamentals.css" />
    <link rel="stylesheet" href="../reset.css" />
    <script src="/scripts/fundamentals.js"></script>
  </head>
  <body>
    <div class="fundamentals">
      <div class="fundamentals-home">
        <div class="fundamentals-nav">
          <a href="">Interview Prep</a>
          <a href="">By Skill</a>
          <a href="">By Language</a>
        </div>
        <div class="fundamentals-content">
          <div class="fundamentals-content-left">
            <div class="fundamentals-content-left-title">Fundamentals</div>
            <div class="fundamentals-content-left-pron">(/fʌnˈdæməntəlz/)</div>
            <div class="fundamentals-content-left-desc">
              A play on word, derived from the greek word εξελίσσομαι = to
              evolve (ekse'lisome), with a twist.
            </div>
          </div>
          <div class="fundamentals-content-right">
            <div class="fundamentals-content-right-para1">
              “There are 2 types of software engineer: those who understand
              computer science well enough to do challenging, innovative work,
              and those who just get by because they’re familiar with a few high
              level tools.
            </div>
            <div class="fundamentals-content-right-para1">
              Both call themselves software engineers, and both tend to earn
              similar salaries in their early careers. But Type 1 engineers
              progress toward more fulfilling and well-remunerated work over
              time, whether that’s valuable commercial work or breakthrough
              open-source projects, technical leadership or high-quality
              individual contributions.
            </div>
            <div class="fundamentals-content-right-para1">
              Type 1 engineers find ways to learn computer science in depth,
              whether through conventional means or by relentlessly learning
              throughout their careers. Type 2 engineers typically stay at the
              surface, learning specific tools and technologies rather than
              their underlying foundations, only picking up new skills when the
              winds of technical fashion change.
            </div>
            <div class="fundamentals-content-right-para1">
              Currently, the number of people entering the industry is rapidly
              increasing, while the number of CS grads is relatively static.
              This oversupply of Type 2 engineers is starting to reduce their
              employment opportunities and keep them out of the industry’s more
              fulfilling work. Whether you’re striving to become a Type 1
              engineer or simply looking for more job security, learning
              computer science is the only reliable path.”
            </div>
            <div class="fundamentals-content-right-reference">
              <a href="">[Teachyourselfcs.com]</a>
            </div>
          </div>
        </div>
      </div>
      <div class="fundamentals-desc">
        <div class="fundamentals-desc-para1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
          mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
          mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
          tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
          suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at
          maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
          sodales.
        </div>
        <div class="fundamentals-desc-para1">
          Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
          In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
          hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
          consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
          quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
          interdum eu. Curabitur pellentesque nibh nibh, at maximus ante
          fermentum sit amet.
        </div>
        <div class="fundamentals-desc-para1"></div>
        Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut
        diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget
        tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque
        sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
        Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum
        auctor ornare leo, non suscipit magna interdum eu. Curabitur
        pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
        commodo lacus at
        <div class="fundamentals-desc-para1">
          sodales sodales. Quisque sagittis orci ut diam condimentum, vel
          euismod erat placerat. In iaculis arcu eros, eget tempus orci
          facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
          sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
          vitae mattis tellus. Nullam quis
        </div>
      </div>

<div class="programming-window">

  <section class="programming-window-top">

<img src="../assests/Ellipse 1.png" class="ellipseimg"> 

<div class="programming-window-top-title">
Programming
</div>

<div class="programming-window-top-subtitle">
(/prəʊˈɡræmɪŋ/)
</div>

</section>

<section class="programming-window-bottom">

<div class="programming-window-bottom-summary">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="programming-window-bottom-resources">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</div>

</section>

</div>

<div class="computer-architecture-window">

</div>

<div class="algorithms-and-data-Structures-window">

</div>

<div class="math-for-cs-window">

</div>

<div class="operating-systems-window">
  
</div>

    </div>
  </body>
</html>
