@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.fundamentals-home {
  background: url("../assests/final_fundamentals.png");
  max-height: 100vh;
}

.fundamentals-nav {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  padding-top: 3%;
  padding-right: 5%;
  color: #393e41;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

.fundamentals-nav > a {
  color: #393e41;
}

.fundamentals-content {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  padding: 5%;
}

.fundamentals-content-left {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.fundamentals-content-left-title {
  font-family: Josefin Sans;
  font-size: 8rem;
  color: #393e41;
}

.fundamentals-content-left-pron {
  font-family: Josefin Sans;
  font-size: 2rem;
  color: #393e41;
}

.fundamentals-content-left-desc {
  font-family: Josefin Sans;
  color: #393e41;
  font-size: 1.2rem;
  padding-top: 15px;
}
.fundamentals-content-right {
  height: 60vh;
  background: #d3d0cb;
  display: flex;
  flex-direction: column;
  font-family: Josefin Sans;
  color: #393e41;
  align-self: flex-start;
  margin-top: 5vh;
  justify-content: center;
  gap: 15px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0px 30px;
}
.fundamentals-content-right-reference {
  align-self: flex-end;
  color: #393e41;
}
.fundamentals-content-right-reference > a {
  color: inherit;
}
a {
  text-decoration: none;
}

.fundamentals-desc {
  min-height: 100vh;
  background-color: #393e41;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d0cb;
  font-family: Josefin Sans;
  flex-direction: column;
  padding: 2vh 10vh;
  gap: 20px;
  text-align: center;
  font-size: 1.4rem;
}
