@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.fundamentals-home {
  background: url("../assests/final_fundamentals.png");
  max-height: 100vh;
}

.fundamentals-nav {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  padding-top: 3%;
  padding-right: 5%;
  color: #393e41;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

.fundamentals-nav > a {
  color: #393e41;
}

.fundamentals-content {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  padding: 5%;
}

.fundamentals-content-left {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.fundamentals-content-left-title {
  font-family: Josefin Sans;
  font-size: 8rem;
  color: #393e41;
}

.fundamentals-content-left-pron {
  font-family: Josefin Sans;
  font-size: 2rem;
  color: #393e41;
}

.fundamentals-content-left-desc {
  font-family: Josefin Sans;
  color: #393e41;
  font-size: 1.2rem;
  padding-top: 15px;
}
.fundamentals-content-right {
  height: 60vh;
  background: #d3d0cb;
  display: flex;
  flex-direction: column;
  font-family: Josefin Sans;
  color: #393e41;
  align-self: flex-start;
  margin-top: 5vh;
  justify-content: center;
  gap: 15px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0px 30px;
}
.fundamentals-content-right-reference {
  align-self: flex-end;
  color: #393e41;
}
.fundamentals-content-right-reference > a {
  color: inherit;
}
a {
  text-decoration: none;
}

.fundamentals-desc {
  min-height: 100vh;
  background-color: #393e41;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d0cb;
  font-family: Josefin Sans;
  flex-direction: column;
  padding: 2vh 10vh;
  gap: 20px;
  text-align: center;
  font-size: 1.4rem;
}

/*--------PROGRAMMING-----------*/
.programming-window-top {
  background: url("../assests/final_fundamentals.png");
  min-height: 100vh;
  background-repeat: no-repeat;
} /*fix height-width*/


.container{
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30vh;
}


.img {
  width: 100%;
  height: auto;
}

.text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  gap: 0.4rem;
}


.programming-window-top-title{
font-size: 2.5rem;
color: #d3d0cb;
text-align: center;
letter-spacing: 0.2rem;
}

.programming-window-top-subtitle{
  font-size: 2.1rem;
  color: #d3d0cb;
  text-align: center;
  opacity: 70%;
  letter-spacing: 0.2rem;
}


.programming-window-bottom-summary {
background-color: #393e41;
min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d0cb;
  font-family: Josefin Sans;
  flex-direction: column;
  padding: 2vh 10vh;
  gap: 20px;
  text-align: center;
  font-size: 1.4rem;
}

.programming-window-bottom-resources {
background-color: #d3d0cb;
min-height: 75vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 5% ;
font-family: Josefin Sans;;
}

.programming-window-bottom-resources-one, .programming-window-bottom-resources-two, 
.programming-window-bottom-resources-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-size: 1.4rem;
}

h3{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;  
    text-decoration: underline;
}

  .book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .book-title {
    font-size: 1.25rem;
  }

  .book-author{
font-size: 0.75rem;
font-style: italic;
opacity: 60%;
  }

  .book-link {
font-size: 1rem;
text-decoration: underline;
font-style: italic;
  }
  /*-------PROGRAMMING---------*/



  /*------COMPUTER ARCHITECTURE-------*/
  .comp-arch-window-top {
    background: url("../assests/final_fundamentals.png");
    min-height: 100vh;
    background-repeat: no-repeat;
  } /*fix height-width*/
  
  
  .container{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
  }
  
  
  .img {
    width: 100%;
    height: auto;
  }
  
  .text-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    gap: 0.4rem;
  }
  
  
  .comp-arch-window-top-title{
  font-size: 2.5rem;
  color: #d3d0cb;
  text-align: center;
  letter-spacing: 0.2rem;
  }
  
  .comp-arch-window-top-subtitle{
    font-size: 2.1rem;
    color: #d3d0cb;
    text-align: center;
    opacity: 70%;
    letter-spacing: 0.2rem;
  }
  
  
  .comp-arch-window-bottom-summary {
  background-color: #393e41;
  min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d0cb;
    font-family: Josefin Sans;
    flex-direction: column;
    padding: 2vh 10vh;
    gap: 20px;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .comp-arch-window-bottom-resources {
  background-color: #d3d0cb;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5% ;
  font-family: Josefin Sans;;
  }
  
  .comp-arch-window-bottom-resources-one, .comp-arch-window-bottom-resources-two, 
  .comp-arch-window-bottom-resources-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    font-size: 1.4rem;
  }
  
  h3{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;  
      text-decoration: underline;
  }
  
    .book-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }
  
    .book-title {
      font-size: 1.25rem;
    }
  
    .book-author{
  font-size: 0.75rem;
  font-style: italic;
  opacity: 60%;
    }
  
    .book-link {
  font-size: 1rem;
  text-decoration: underline;
  font-style: italic;
    }
    /*---------COMPUTER ARCHITECTURE-----------*/


    
    /*--------ALGORITHMS-----*/
    .dsa-window-top {
      background: url("../assests/final_fundamentals.png");
      min-height: 100vh;
      background-repeat: no-repeat;
    } /*fix height-width*/
    
    
    .container{
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30vh;
    }
    
    
    .img {
      width: 100%;
      height: auto;
    }
    
    .text-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 80%;
      gap: 0.4rem;
    }
    
    
    .dsa-window-top-title{
    font-size: 2.5rem;
    color: #d3d0cb;
    text-align: center;
    letter-spacing: 0.2rem;
    }
    
    .dsa-window-top-subtitle{
      font-size: 2.1rem;
      color: #d3d0cb;
      text-align: center;
      opacity: 70%;
      letter-spacing: 0.2rem;
    }
    
    
    .dsa-window-bottom-summary {
    background-color: #393e41;
    min-height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d3d0cb;
      font-family: Josefin Sans;
      flex-direction: column;
      padding: 2vh 10vh;
      gap: 20px;
      text-align: center;
      font-size: 1.4rem;
    }
    
    .dsa-window-bottom-resources {
    background-color: #d3d0cb;
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% ;
    font-family: Josefin Sans;;
    }
    
    .dsa-window-bottom-resources-one, .dsa-window-bottom-resources-two, 
    .dsa-window-bottom-resources-three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      font-size: 1.4rem;
    }
    
    h3{
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;  
        text-decoration: underline;
    }
    
      .book-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
      }
    
      .book-title {
        font-size: 1.25rem;
      }
    
      .book-author{
    font-size: 0.75rem;
    font-style: italic;
    opacity: 60%;
      }
    
      .book-link {
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
      }
    /*----------ALGORITHMS--------*/

    /*--------MATHS----------*/
    .math-window-top {
      background: url("../assests/final_fundamentals.png");
      min-height: 100vh;
      background-repeat: no-repeat;
    } /*fix height-width*/
    
    
    .container{
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30vh;
    }
    
    
    .img {
      width: 100%;
      height: auto;
    }
    
    .text-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 80%;
      gap: 0.4rem;
    }
    
    
    .math-window-top-title{
    font-size: 2.5rem;
    color: #d3d0cb;
    text-align: center;
    letter-spacing: 0.2rem;
    }
    
    .math-window-top-subtitle{
      font-size: 2.1rem;
      color: #d3d0cb;
      text-align: center;
      opacity: 70%;
      letter-spacing: 0.2rem;
    }
    
    
    .math-window-bottom-summary {
    background-color: #393e41;
    min-height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d3d0cb;
      font-family: Josefin Sans;
      flex-direction: column;
      padding: 2vh 10vh;
      gap: 20px;
      text-align: center;
      font-size: 1.4rem;
    }
    
    .math-window-bottom-resources {
    background-color: #d3d0cb;
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% ;
    font-family: Josefin Sans;;
    }
    
    .math-window-bottom-resources-one, .math-window-bottom-resources-two, 
    .math-window-bottom-resources-three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      font-size: 1.4rem;
    }
    
    h3{
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;  
        text-decoration: underline;
    }
    
      .book-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
      }
    
      .book-title {
        font-size: 1.25rem;
      }
    
      .book-author{
    font-size: 0.75rem;
    font-style: italic;
    opacity: 60%;
      }
    
      .book-link {
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
      }
 /*------MATHS-------*/

 /*----------OS---------*/
 .os-window-top {
  background: url("../assests/final_fundamentals.png");
  min-height: 100vh;
  background-repeat: no-repeat;
} /*fix height-width*/


.container{
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30vh;
}


.img {
  width: 100%;
  height: auto;
}

.text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
  gap: 0.4rem;
}


.os-window-top-title{
font-size: 2.5rem;
color: #d3d0cb;
text-align: center;
letter-spacing: 0.2rem;
}

.os-window-top-subtitle{
  font-size: 2.1rem;
  color: #d3d0cb;
  text-align: center;
  opacity: 70%;
  letter-spacing: 0.2rem;
}


.os-window-bottom-summary {
background-color: #393e41;
min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d0cb;
  font-family: Josefin Sans;
  flex-direction: column;
  padding: 2vh 10vh;
  gap: 20px;
  text-align: center;
  font-size: 1.4rem;
}

.os-window-bottom-resources {
background-color: #d3d0cb;
min-height: 75vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 5% ;
font-family: Josefin Sans;;
}

.os-window-bottom-resources-one, .os-window-bottom-resources-two, 
.os-window-bottom-resources-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-size: 1.4rem;
}

h3{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;  
    text-decoration: underline;
}

  .book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .book-title {
    font-size: 1.25rem;
  }

  .book-author{
font-size: 0.75rem;
font-style: italic;
opacity: 60%;
  }

  .book-link {
font-size: 1rem;
text-decoration: underline;
font-style: italic;
  }
  /*---------OS--------*/