@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
a {
  text-decoration: none;
}
:root {
  --background-color: #393e41;
  --primary-color: #d3d0cb;
  --main-font: "Josefin Sans", sans-serif;
}
html {
  box-sizing: border-box;
}
.fundamentals-page {
  min-height: 500vh;
  margin: 0;
}

.fundamentals-main-window {
  min-height: 100vh;
}
/*
  .excelissis-window,
  .features-window,
  .aboutus-window,
  .footer-window {
    min-height: 85vh;
  }*/

.fundamentals-main-window {
  background-image: url("../assests/dots.png");
}

.fundamentals-main-window-nav {
  display: flex;
  gap: 3rem;
  color: var(--primary-color);
  padding-top: 8vh;
  justify-content: flex-end;
  padding-right: 8vw;
}
.fundamentals-main-window-nav > a {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 1.2rem;
}

.fundamentals-main-window-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  gap: 1rem;
  color: var(--primary-color);
  font-family: var(--main-font);
  padding-left: 2rem;
}
.fundamentals-main-window-content-title {
  font-size: 8rem;
}
