@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
a {
  text-decoration: none;
}
:root {
  --background-color: #393e41;
  --primary-color: #d3d0cb;
  --main-font: "Josefin Sans", sans-serif;
}

.homepage {
  min-height: 500vh;
}

.main-window {
  min-height: 100vh;
}
.excelissis-window,
.features-window,
.aboutus-window,
.footer-window {
  min-height: 85vh;
}

.main-window {
  background: var(--background-color);
  background-image: url("../assests/dotgrid.png");
}

.main-window-nav {
  display: flex;
  gap: 3rem;
  color: var(--primary-color);
  padding-top: 8vh;
  justify-content: flex-end;
  padding-right: 8vw;
}
.main-window-nav > a {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 1.2rem;
}

.main-window-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  gap: 1rem;
  color: var(--primary-color);
  font-family: var(--main-font);
  padding-left: 2rem;
}
.main-window-content-title {
  font-size: 8rem;
}
.main-window-content-subtitle {
  font-size: 2rem;
}

.main-window-footer {
  color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  gap: 30vw;
  margin-right: 5vw;
  font-family: var(--main-font);
}

.main-window-footer-contribute {
  font-size: 2rem;
  color: inherit;
}

.main-window-footer-scrolldown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.excelissis-window {
  background: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}
.excelissis-window > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.excelissis-window-left {
  flex-direction: column;
  gap: 3rem;
  font-family: var(--main-font);
  font-size: 1.4rem;
  color: var(--background-color);
  line-height: 125%;
}

.excelissis-window-right {
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--main-font);
  text-align: right;
  gap: 25vh;
  color: var(--background-color);
}
.excelissis-window-right-content {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 3px;
  padding-left: 10vw;
}

.excelissis-window-right-content-title {
  font-size: 8rem;
}

.excelissis-window-right-content-pronounciation {
  font-size: 2.5rem;
}

.excelissis-window-right-content-description {
  font-size: 1.1rem;
  opacity: 70%;
}

.excelissis-window-right > img {
  align-self: flex-end;
}

.features-window {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5% ;
  background : var(--background-color);
color:var(--primary-color);
font-family:var(--main-font);
}


.features-window-left-content{
  display: flex;
  flex-direction: column;
gap: 7px;
justify-content:flex-end;
margin-bottom: 10vh;
}

.features-window-left-content-title {
font-size: 8rem;
}

.features-window-left-content-pronounciation{
  font-size: 2.5rem;
}

.features-window-left-content-description{
  font-size: 1.1rem;
  opacity: 70%;

}


.feautures-window-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-size: 1.4rem;
  line-height: 125%;
}



.aboutus-window {
  display: grid;
  grid-template-columns: 5fr 4fr;
  padding: 5%;
  color: var(--background-color);
  background: var(--primary-color);
}

.aboutus-window-left {
  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;
}

.aboutus-window-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: var(--main-font);
  text-align: right;
  gap: 25vh;
  color: var(--background-color);
}

.aboutus-window-right-content {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 3px;
  padding-left: 10vw;
}

.aboutus-window-left > div {
  display: flex;
  gap: 100px;
}

.aboutus-window-left-nicole-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--background-color);
  font-family: var(--main-font);
  justify-content: center;
  align-items: center;
  line-height: 125%;
  font-size: 1.3rem;
}

.about-us-window-left-nicole-content-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.about-us-window-left-nicole-content-name,
.about-us-window-left-nicole-content-github {
  font-weight: 600;
  color: inherit;
}

.aboutus-window-left {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.footer-window {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
background : var(--background-color);
color:var(--primary-color);
font-family:var(--main-font);
}

.footer-window-para1, .footer-window-para2, .footer-window-para4 {
font-size: 2rem;
}

.footer-window-para3 {
  font-size: 8rem;
}

.footer-window-email,.footer-window-github {
font-size: 1.25rem;
}

.footer-window-email-github {
display: flex;
gap: 30px;

}