:root {
  --background-color: #393e41;
}

.homepage {
  min-height: 500vh;
}

.main-window,
.excelissis-window,
.features-window,
.aboutus-window,
.footer-window {
  min-height: 100vh;
}

.main-window {
  background: var(--background-color);
}
